<h1><%= "Name: #{@restaurant.name}"%></h1>
<h2><%= "Address: #{@restaurant.address}"%></h2>
<h2><%= "Phone Number: #{@restaurant.phone_number}"%></h2>
<h2><%= "Category: #{@restaurant.category}"%></h2>
